Source: quokka
Maintainer: Bruno Rocha <rochacbruno@gmail.com> <quokka-developers@googlegroups.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-quokka
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Flexible & modular CMS powered by Flask and MongoDB
 (alpha version, work in progress)
